::selection {
    background-color: $expression;
    color: $dark;
}

::-webkit-scrollbar {
    width: 5px;
    // height: 8px;
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: $dark;
}

* {
    scrollbar-color: $dark rgba(0, 0, 0, 0.25);
    scrollbar-width: thin;
}

.is-nav {
    position: absolute;
    transform: rotateZ(-90deg);
    transform-origin: left bottom;
    top: 92.5vh;
    left: 5vh;
}

.is-scroll {
    max-height: 62.5vh;
}
