.inter-xli {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.inter-li {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.inter-b {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
